In [1]:
import pandas as panda
import numpy as np
from collections import Counter

In [2]:
hist_with_merchants_data_path = 'C:/TV Series/real_world_use_cases_1/supervised/regression/kaggle/elo/all_new/hist_with_no_merchant.csv'

In [3]:
hist_transaction_data = panda.read_csv(hist_with_merchants_data_path)
hist_transaction_data_types = hist_transaction_data.dtypes
hist_transaction_column_types = {}
for index, column_name in enumerate(hist_transaction_data.columns.tolist()):
    hist_transaction_column_types[column_name] = hist_transaction_data_types[index]
del hist_transaction_data
hist_transaction_data = panda.read_csv(hist_with_merchants_data_path, dtype = hist_transaction_column_types)
hist_transaction_data.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,-1,N,0,A,278,NaN,0,-0.719154,2018-02-24 10:52:32,NaN,-1,37
1,Y,C_ID_4e6213e9bc,-1,N,0,A,278,NaN,0,-0.713173,2018-02-25 12:07:37,NaN,-1,37
2,Y,C_ID_4e6213e9bc,-1,N,0,A,278,NaN,0,-0.702159,2018-02-10 12:30:44,NaN,-1,37
3,Y,C_ID_4e6213e9bc,-1,N,0,A,278,NaN,0,-0.713053,2018-02-11 12:10:48,NaN,-1,37
4,Y,C_ID_4e6213e9bc,-1,N,0,A,278,NaN,0,-0.703121,2018-02-13 13:08:38,NaN,-1,37

In [4]:
hist_transaction_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
authorized_flag,138481,2,Y,120056,NaN,NaN,NaN,NaN,NaN,NaN,NaN
card_id,138481,69254,C_ID_7ebe1f53d9,151,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_id,138481,NaN,NaN,NaN,133.46,100.801,-1,57,131,211,347
category_1,138481,2,N,135144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
installments,138481,NaN,NaN,NaN,0.358721,0.608612,-1,0,0,1,12
category_3,131274,3,A,75282,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merchant_category_id,138481,NaN,NaN,NaN,467.395,251.665,2,278,454,683,891
merchant_id,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month_lag,138481,NaN,NaN,NaN,-0.984048,1.47518,-13,-1,-1,0,0
purchase_amount,138481,NaN,NaN,NaN,0.487361,241.537,-0.746908,-0.722865,-0.698372,-0.631023,82651.8
purchase_date,138481,125120,2017-11-25 00:00:00,608,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_2,128448,NaN,NaN,NaN,2.21288,1.56549,1,1,1,3,5
state_id,138481,NaN,NaN,NaN,10.7118,6.17024,-1,9,9,15,24
subsector_id,138481,NaN,NaN,NaN,26.7088,10.4855,1,19,29,34,41

In [5]:
hist_transaction_data.isnull().sum()

authorized_flag              0
card_id                      0
city_id                      0
category_1                   0
installments                 0
category_3                7207
merchant_category_id         0
merchant_id             138481
month_lag                    0
purchase_amount              0
purchase_date                0
category_2               10033
state_id                     0
subsector_id                 0
dtype: int64

Observations from above:

1. state_id/ subsector_id /merchant_category_id/city_id has missing data, since i can see it has values which are - 1. We are going to leave them as is

2. installments has missing data , shown in the formats of both -1  we will take two strategies: replace both wiht mean and most common installment value to create two separate columns

3. month lag has only negative values, we need to look at it closely

4. category_3 / category_2 have both missing data. replacing it most common appearing data

In [7]:
hist_transaction_data.month_lag.value_counts()

-2     3835910
-1     3589436
 0     3404841
-3     3087434
-4     2637822
-5     2364232
-6     2049613
-7     1769489
-8     1427532
-9     1234466
-10    1084782
-11    1007695
-12     791748
-13     688880
Name: month_lag, dtype: int64

Since this is historical data with no merchant information attached, we will ignore the following columns:
    
    1. state_id
    2. city_id
    3. subsector_id
    4. merchant_category_id
    5. merchant_group_id
    6. category_1
    7. category_2

In [6]:
def prep_for_aggregate(table):
    
    table['authorized_flag'] = table.authorized_flag.map({'Y':1,'N':0})
    
   
    most_appearing = table.category_3.value_counts().idxmax()
    table.category_3.fillna(value = most_appearing, inplace = True)
    table['enc_category_3_A'] = (table.category_3=='A') +0
    table['enc_category_3_B'] = (table.category_3=='B') +0
    table['enc_category_3_C'] = (table.category_3=='C') +0
    table.drop(columns = ['category_3'], inplace = True)
    
    table['enc_purchase_date'] = panda.DatetimeIndex(table.purchase_date).astype(np.int64)*1e-9
    table.drop(columns = ['purchase_date'], inplace = True)

    mean_installments = np.mean(table.installments.values)
    most_common_installment = table.installments.value_counts().idxmax()
    
    table['installments_mean_replaced'] = table['installments']
    table.installments_mean_replaced.replace(-1, mean_installments, inplace= True)
    table.installments_mean_replaced.replace(999, mean_installments, inplace= True)
    
    table['installments_common_replaced'] = table['installments']
    table.installments_mean_replaced.replace(-1, most_common_installment, inplace= True)
    table.installments_mean_replaced.replace(999, most_common_installment, inplace= True)
    
    table.drop(columns = ['installments'], inplace = True)

In [7]:
prep_for_aggregate(hist_transaction_data)

In [8]:
hist_transaction_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
authorized_flag,138481,NaN,NaN,NaN,0.866949,0.339631,0,1,1,1,1
card_id,138481,69254,C_ID_7ebe1f53d9,151,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_id,138481,NaN,NaN,NaN,133.46,100.801,-1,57,131,211,347
category_1,138481,2,N,135144,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merchant_category_id,138481,NaN,NaN,NaN,467.395,251.665,2,278,454,683,891
merchant_id,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month_lag,138481,NaN,NaN,NaN,-0.984048,1.47518,-13,-1,-1,0,0
purchase_amount,138481,NaN,NaN,NaN,0.487361,241.537,-0.746908,-0.722865,-0.698372,-0.631023,82651.8
category_2,128448,NaN,NaN,NaN,2.21288,1.56549,1,1,1,3,5
state_id,138481,NaN,NaN,NaN,10.7118,6.17024,-1,9,9,15,24
subsector_id,138481,NaN,NaN,NaN,26.7088,10.4855,1,19,29,34,41
enc_category_3_A,138481,NaN,NaN,NaN,0.59567,0.490764,0,0,1,1,1
enc_category_3_B,138481,NaN,NaN,NaN,0.402178,0.490339,0,0,0,1,1
enc_category_3_C,138481,NaN,NaN,NaN,0.00215192,0.046339,0,0,0,0,1
enc_purchase_date,138481,NaN,NaN,NaN,1.51586e+09,4.33701e+06,1.48326e+09,1.51429e+09,1.51708e+09,1.51844e+09,1.51986e+09
installments_mean_replaced,138481,NaN,NaN,NaN,0.429433,0.51897,0,0,0,1,12
installments_common_replaced,138481,NaN,NaN,NaN,0.358721,0.608612,-1,0,0,1,12

In [10]:
## we will take the 
## sum,mean,max of purchase amount, 
## sum,mean,max of month lag by card_id
## mean of authorized_flag,
## num of authorized ==1
## num of authorized ==0
## sum, mean, max of installments
## mean of category_1
## sum of enc_category_2* and enc_category_3*

def count_authorized_one(x):
    return x.eq(1).sum()
def count_authorized_zero(x):
    return x.eq(0).sum()
def count_category_1_one(x):
    return x.eq(1).sum()
def count_category_1_zero(x):
    return x.eq(0).sum()

def count_of_unique_cities(x):
    return x.nunique()

def count_of_unique_subsector_id(x):
    return x.nunique()

def count_of_unique_state_id(x):
    return x.nunique()

def most_common_merchant_id(x):
    c = Counter(x)
    return c.most_common()[0][0]

In [11]:
aggregate = {
    
'purchase_amount' : ['sum','mean','max'],
'month_lag' : ['sum','mean','max'] ,

'enc_category_3_A': ['sum'],
'enc_category_3_B': ['sum'],
'enc_category_3_C': ['sum'],
'installments_common_replaced': ['sum','mean','max'],
'installments_mean_replaced': ['sum','mean','max'],
'authorized_flag': ['mean', count_authorized_one, count_authorized_zero],

'enc_purchase_date' : ['mean','min','max',np.ptp],

    
}

In [12]:
group_by = hist_transaction_data.groupby(['card_id'])

In [13]:
len(hist_transaction_data)

138481

In [19]:
t = group_by.agg(aggregate)

In [20]:
t.head()

                purchase_amount                     month_lag           \
                            sum      mean       max       sum mean max
card_id
C_ID_0004725b87       -1.950531 -0.650177 -0.641722        -9 -3.0  -3
C_ID_0005f16cc8       -0.446378 -0.446378 -0.446378        -1 -1.0  -1
C_ID_0007fe3157       -0.323701 -0.161851  0.385640        -1 -0.5   0
C_ID_000844d8f1       -1.435137 -0.717569 -0.705510        -2 -1.0  -1
C_ID_000aa2220e       -0.632706 -0.632706 -0.632706        -1 -1.0  -1

                enc_category_3_A enc_category_3_B enc_category_3_C  \
                             sum              sum              sum
card_id
C_ID_0004725b87                1                2                0
C_ID_0005f16cc8                1                0                0
C_ID_0007fe3157                1                1                0
C_ID_000844d8f1                2                0                0
C_ID_000aa2220e                0                1                0

                installments_common_replaced    ...      \
                                         sum    ...
card_id                                         ...
C_ID_0004725b87                            2    ...
C_ID_0005f16cc8                            0    ...
C_ID_0007fe3157                            0    ...
C_ID_000844d8f1                            0    ...
C_ID_000aa2220e                            1    ...

                installments_mean_replaced                authorized_flag  \
                                       sum      mean  max            mean
card_id
C_ID_0004725b87                   2.000000  0.666667  1.0        0.333333
C_ID_0005f16cc8                   0.000000  0.000000  0.0        1.000000
C_ID_0007fe3157                   1.358721  0.679360  1.0        1.000000
C_ID_000844d8f1                   0.000000  0.000000  0.0        1.000000
C_ID_000aa2220e                   1.000000  1.000000  1.0        0.000000

                                                           enc_purchase_date  \
                count_authorized_one count_authorized_zero              mean
card_id
C_ID_0004725b87                    1                     2      1.509955e+09
C_ID_0005f16cc8                    1                     0      1.516197e+09
C_ID_0007fe3157                    2                     0      1.517923e+09
C_ID_000844d8f1                    2                     0      1.515036e+09
C_ID_000aa2220e                    0                     1      1.515180e+09


                          min           max        ptp
card_id
C_ID_0004725b87  1.509581e+09  1.510704e+09  1123200.0
C_ID_0005f16cc8  1.516197e+09  1.516197e+09        0.0
C_ID_0007fe3157  1.516120e+09  1.519726e+09  3606078.0
C_ID_000844d8f1  1.514981e+09  1.515092e+09   110811.0
C_ID_000aa2220e  1.515180e+09  1.515180e+09        0.0

[5 rows x 22 columns]

In [21]:
t_cols=['card_id']
t_cols.extend(['_'.join(i) for i in t.columns.tolist()])

t_cols

['card_id',
 'purchase_amount_sum',
 'purchase_amount_mean',
 'purchase_amount_max',
 'month_lag_sum',
 'month_lag_mean',
 'month_lag_max',
 'enc_category_3_A_sum',
 'enc_category_3_B_sum',
 'enc_category_3_C_sum',
 'installments_common_replaced_sum',
 'installments_common_replaced_mean',
 'installments_common_replaced_max',
 'installments_mean_replaced_sum',
 'installments_mean_replaced_mean',
 'installments_mean_replaced_max',
 'authorized_flag_mean',
 'authorized_flag_count_authorized_one',
 'authorized_flag_count_authorized_zero',
 'enc_purchase_date_mean',
 'enc_purchase_date_min',
 'enc_purchase_date_max',
 'enc_purchase_date_ptp']

In [22]:
t.reset_index(inplace=True)
t.columns = ['old_'+ i for i in t_cols]
t.head()

,old_card_id,old_purchase_amount_sum,old_purchase_amount_mean,old_purchase_amount_max,old_month_lag_sum,old_month_lag_mean,old_month_lag_max,old_enc_category_3_A_sum,old_enc_category_3_B_sum,old_enc_category_3_C_sum,...,old_installments_mean_replaced_sum,old_installments_mean_replaced_mean,old_installments_mean_replaced_max,old_authorized_flag_mean,old_authorized_flag_count_authorized_one,old_authorized_flag_count_authorized_zero,old_enc_purchase_date_mean,old_enc_purchase_date_min,old_enc_purchase_date_max,old_enc_purchase_date_ptp
0,C_ID_0004725b87,-1.950531,-0.650177,-0.641722,-9,-3.0,-3,1,2,0,...,2.000000,0.666667,1.0,0.333333,1,2,1.509955e+09,1.509581e+09,1.510704e+09,1123200.0
1,C_ID_0005f16cc8,-0.446378,-0.446378,-0.446378,-1,-1.0,-1,1,0,0,...,0.000000,0.000000,0.0,1.000000,1,0,1.516197e+09,1.516197e+09,1.516197e+09,0.0
2,C_ID_0007fe3157,-0.323701,-0.161851,0.385640,-1,-0.5,0,1,1,0,...,1.358721,0.679360,1.0,1.000000,2,0,1.517923e+09,1.516120e+09,1.519726e+09,3606078.0
3,C_ID_000844d8f1,-1.435137,-0.717569,-0.705510,-2,-1.0,-1,2,0,0,...,0.000000,0.000000,0.0,1.000000,2,0,1.515036e+09,1.514981e+09,1.515092e+09,110811.0
4,C_ID_000aa2220e,-0.632706,-0.632706,-0.632706,-1,-1.0,-1,0,1,0,...,1.000000,1.000000,1.0,0.000000,0,1,1.515180e+09,1.515180e+09,1.515180e+09,0.0

In [23]:
t.rename(columns = {'old_card_id':'card_id'}, inplace=True)
t.head()

,card_id,old_purchase_amount_sum,old_purchase_amount_mean,old_purchase_amount_max,old_month_lag_sum,old_month_lag_mean,old_month_lag_max,old_enc_category_3_A_sum,old_enc_category_3_B_sum,old_enc_category_3_C_sum,...,old_installments_mean_replaced_sum,old_installments_mean_replaced_mean,old_installments_mean_replaced_max,old_authorized_flag_mean,old_authorized_flag_count_authorized_one,old_authorized_flag_count_authorized_zero,old_enc_purchase_date_mean,old_enc_purchase_date_min,old_enc_purchase_date_max,old_enc_purchase_date_ptp
0,C_ID_0004725b87,-1.950531,-0.650177,-0.641722,-9,-3.0,-3,1,2,0,...,2.000000,0.666667,1.0,0.333333,1,2,1.509955e+09,1.509581e+09,1.510704e+09,1123200.0
1,C_ID_0005f16cc8,-0.446378,-0.446378,-0.446378,-1,-1.0,-1,1,0,0,...,0.000000,0.000000,0.0,1.000000,1,0,1.516197e+09,1.516197e+09,1.516197e+09,0.0
2,C_ID_0007fe3157,-0.323701,-0.161851,0.385640,-1,-0.5,0,1,1,0,...,1.358721,0.679360,1.0,1.000000,2,0,1.517923e+09,1.516120e+09,1.519726e+09,3606078.0
3,C_ID_000844d8f1,-1.435137,-0.717569,-0.705510,-2,-1.0,-1,2,0,0,...,0.000000,0.000000,0.0,1.000000,2,0,1.515036e+09,1.514981e+09,1.515092e+09,110811.0
4,C_ID_000aa2220e,-0.632706,-0.632706,-0.632706,-1,-1.0,-1,0,1,0,...,1.000000,1.000000,1.0,0.000000,0,1,1.515180e+09,1.515180e+09,1.515180e+09,0.0

In [24]:
t.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
card_id,69254,69254,C_ID_69f3b5be49,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
old_purchase_amount_sum,69254,NaN,NaN,NaN,0.974532,341.539,-109.229,-1.43051,-0.724669,-0.667267,82649.8
old_purchase_amount_mean,69254,NaN,NaN,NaN,0.217554,138.851,-0.746908,-0.716855,-0.686802,-0.611669,30065.8
old_purchase_amount_max,69254,NaN,NaN,NaN,1.62798,341.548,-0.746908,-0.713849,-0.67179,-0.57786,82651.8
old_month_lag_sum,69254,NaN,NaN,NaN,-1.96771,6.94913,-1386,-2,-1,0,0
old_month_lag_mean,69254,NaN,NaN,NaN,-0.975964,1.29556,-13,-1.5,-0.857143,0,0
old_month_lag_max,69254,NaN,NaN,NaN,-0.767551,1.27626,-13,-1,0,0,0
old_enc_category_3_A_sum,69254,NaN,NaN,NaN,1.19111,1.99313,0,0,1,1,150
old_enc_category_3_B_sum,69254,NaN,NaN,NaN,0.804199,1.4908,0,0,0,1,65
old_enc_category_3_C_sum,69254,NaN,NaN,NaN,0.004303,0.114298,0,0,0,0,11
old_installments_common_replaced_sum,69254,NaN,NaN,NaN,0.717302,1.62229,-10,0,0,1,65
old_installments_common_replaced_mean,69254,NaN,NaN,NaN,0.351824,0.613777,-1,0,0,1,12
old_installments_common_replaced_max,69254,NaN,NaN,NaN,0.383169,0.628344,-1,0,0,1,12
old_installments_mean_replaced_sum,69254,NaN,NaN,NaN,0.858698,1.57519,0,0,0,1,65
old_installments_mean_replaced_mean,69254,NaN,NaN,NaN,0.447242,0.512418,0,0,0,1,12
old_installments_mean_replaced_max,69254,NaN,NaN,NaN,0.461563,0.527649,0,0,0,1,12
old_authorized_flag_mean,69254,NaN,NaN,NaN,0.876184,0.297395,0,1,1,1,1
old_authorized_flag_count_authorized_one,69254,NaN,NaN,NaN,1.73356,1.90941,0,1,1,2,71
old_authorized_flag_count_authorized_zero,69254,NaN,NaN,NaN,0.26605,0.944514,0,0,0,0,143
old_enc_purchase_date_mean,69254,NaN,NaN,NaN,1.51582e+09,3.88494e+06,1.48329e+09,1.51433e+09,1.51689e+09,1.51818e+09,1.51986e+09
old_enc_purchase_date_min,69254,NaN,NaN,NaN,1.51516e+09,4.27309e+06,1.48326e+09,1.51328e+09,1.51645e+09,1.51791e+09,1.51986e+09
old_enc_purchase_date_max,69254,NaN,NaN,NaN,1.51642e+09,3.88838e+06,1.48329e+09,1.51497e+09,1.51757e+09,1.51887e+09,1.51986e+09
old_enc_purchase_date_ptp,69254,NaN,NaN,NaN,1.25749e+06,2.63734e+06,0,0,0,1.46516e+06,3.56399e+07

In [25]:
del hist_transaction_data

In [27]:
t.to_csv('hist_without_merchant_aggregated.csv', index = False)