In [23]:
import pandas as panda
import numpy as np
from collections import Counter

In [24]:
new_with_merchants_data_path = 'C:/TV Series/real_world_use_cases_1/supervised/regression/kaggle/elo/all_new/new_with_merchant.csv'

In [25]:
new_transaction_data = panda.read_csv(new_with_merchants_data_path)
new_transaction_data_types = new_transaction_data.dtypes
hist_transaction_column_types = {}
for index, column_name in enumerate(new_transaction_data.columns.tolist()):
    hist_transaction_column_types[column_name] = new_transaction_data_types[index]
del new_transaction_data
new_transaction_data = panda.read_csv(new_with_merchants_data_path, dtype = hist_transaction_column_types)
new_transaction_data.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671926,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [26]:
new_transaction_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
authorized_flag,1936815,1,Y,1936815,NaN,NaN,NaN,NaN,NaN,NaN,NaN
card_id,1936815,289057,C_ID_b7ebee6539,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_id,1.93682e+06,NaN,NaN,NaN,134.338,101.503,-1,69,110,212,347
category_1,1936815,2,N,1873933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
installments,1.93682e+06,NaN,NaN,NaN,0.687721,1.59257,-1,0,1,1,999
category_3,1883075,3,A,909084,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merchant_category_id,1.93682e+06,NaN,NaN,NaN,430.305,246.222,-1,278,367,683,891
merchant_id,1936815,226129,M_ID_00a6ca8a8a,23018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month_lag,1.93682e+06,NaN,NaN,NaN,1.47618,0.499432,1,1,1,2,2
purchase_amount,1.93682e+06,NaN,NaN,NaN,-0.550422,0.696466,-0.746893,-0.716389,-0.674781,-0.581616,263.157
purchase_date,1936815,1648110,2017-11-18 00:00:00,556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category_2,1.82661e+06,NaN,NaN,NaN,2.19701,1.52809,1,1,1,3,5
state_id,1.93682e+06,NaN,NaN,NaN,10.8807,6.03628,-1,9,9,15,24
subsector_id,1.93682e+06,NaN,NaN,NaN,25.9747,10.1191,-1,19,29,34,41

In [27]:
new_transaction_data.isnull().sum()

authorized_flag              0
card_id                      0
city_id                      0
category_1                   0
installments                 0
category_3               53740
merchant_category_id         0
merchant_id                  0
month_lag                    0
purchase_amount              0
purchase_date                0
category_2              110201
state_id                     0
subsector_id                 0
dtype: int64

Observations from above:

1. state_id/ subsector_id /merchant_category_id/city_id has missing data, since i can see it has values which are - 1. We are going to leave them as is

2. installments has missing data , shown in the formats of both -1 and 999. we will take two strategies: replace both wiht mean and most common installment value to create two separate columns

3. category_3 / category_2 have both missing data. replacing it most common appearing data

In [28]:
new_transaction_data.month_lag.value_counts()

1    1014541
2     922274
Name: month_lag, dtype: int64

In [29]:
def prep_for_aggregate(table):
    
    table['authorized_flag'] = table.authorized_flag.map({'Y':1,'N':0})
    
    table['category_1'] = table.category_1.map({'Y':1, 'N':0})
    
    most_appearing = table.category_2.value_counts().idxmax()
    table.category_2.fillna(value= most_appearing, inplace=True)
    table['enc_category_2_1'] = (table.category_2==1) + 0
    table['enc_category_2_2'] = (table.category_2==2) + 0
    table['enc_category_2_3'] = (table.category_2==3) + 0
    table['enc_category_2_4'] = (table.category_2==4) + 0
    table['enc_category_2_5'] = (table.category_2==5) + 0
    table.drop(columns = ['category_2'], inplace=True)

    most_appearing = table.category_3.value_counts().idxmax()
    table.category_3.fillna(value = most_appearing, inplace = True)
    table['enc_category_3_A'] = (table.category_3=='A') +0
    table['enc_category_3_B'] = (table.category_3=='B') +0
    table['enc_category_3_C'] = (table.category_3=='C') +0
    table.drop(columns = ['category_3'], inplace = True)
    
    table['enc_purchase_date'] = panda.DatetimeIndex(table.purchase_date).astype(np.int64)*1e-9
    table.drop(columns = ['purchase_date'], inplace = True)

    mean_installments = np.mean(table.installments.values)
    most_common_installment = table.installments.value_counts().idxmax()
    
    table['installments_mean_replaced'] = table['installments']
    table.installments_mean_replaced.replace(-1, mean_installments, inplace= True)
    table.installments_mean_replaced.replace(999, mean_installments, inplace= True)
    
    table['installments_common_replaced'] = table['installments']
    table.installments_mean_replaced.replace(-1, most_common_installment, inplace= True)
    table.installments_mean_replaced.replace(999, most_common_installment, inplace= True)
    
    table.drop(columns = ['installments'], inplace = True)

In [30]:
prep_for_aggregate(new_transaction_data)

In [31]:
new_transaction_data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
authorized_flag,1.93682e+06,NaN,NaN,NaN,1,0,1,1,1,1,1
card_id,1936815,289057,C_ID_b7ebee6539,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
city_id,1.93682e+06,NaN,NaN,NaN,134.338,101.503,-1,69,110,212,347
category_1,1.93682e+06,NaN,NaN,NaN,0.0324667,0.177236,0,0,0,0,1
merchant_category_id,1.93682e+06,NaN,NaN,NaN,430.305,246.222,-1,278,367,683,891
merchant_id,1936815,226129,M_ID_00a6ca8a8a,23018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
month_lag,1.93682e+06,NaN,NaN,NaN,1.47618,0.499432,1,1,1,2,2
purchase_amount,1.93682e+06,NaN,NaN,NaN,-0.550422,0.696466,-0.746893,-0.716389,-0.674781,-0.581616,263.157
state_id,1.93682e+06,NaN,NaN,NaN,10.8807,6.03628,-1,9,9,15,24
subsector_id,1.93682e+06,NaN,NaN,NaN,25.9747,10.1191,-1,19,29,34,41
enc_category_2_1,1.93682e+06,NaN,NaN,NaN,0.596337,0.490631,0,0,1,1,1
enc_category_2_2,1.93682e+06,NaN,NaN,NaN,0.0334973,0.179931,0,0,0,0,1
enc_category_2_3,1.93682e+06,NaN,NaN,NaN,0.147089,0.354195,0,0,0,0,1
enc_category_2_4,1.93682e+06,NaN,NaN,NaN,0.0910815,0.287725,0,0,0,0,1
enc_category_2_5,1.93682e+06,NaN,NaN,NaN,0.131995,0.338485,0,0,0,0,1
enc_category_3_A,1.93682e+06,NaN,NaN,NaN,0.497117,0.499992,0,0,0,1,1
enc_category_3_B,1.93682e+06,NaN,NaN,NaN,0.426114,0.494511,0,0,0,1,1
enc_category_3_C,1.93682e+06,NaN,NaN,NaN,0.0767688,0.266224,0,0,0,0,1
enc_purchase_date,1.93682e+06,NaN,NaN,NaN,1.51933e+09,6.70752e+06,1.48834e+09,1.51967e+09,1.52146e+09,1.52321e+09,1.52513e+09
installments_mean_replaced,1.93682e+06,NaN,NaN,NaN,0.733518,1.19416,0,0,1,1,12
installments_common_replaced,1.93682e+06,NaN,NaN,NaN,0.687721,1.59257,-1,0,1,1,999

In [32]:
## we will take the 
## sum,mean,max of purchase amount, 
## sum,mean,max of month lag by card_id
## mean of authorized_flag,
## num of authorized ==1
## num of authorized ==0
## sum, mean, max of installments
## mean of category_1
## sum of enc_category_2* and enc_category_3*

def count_authorized_one(x):
    return x.eq(1).sum()
def count_authorized_zero(x):
    return x.eq(0).sum()
def count_category_1_one(x):
    return x.eq(1).sum()
def count_category_1_zero(x):
    return x.eq(0).sum()

def count_of_unique_cities(x):
    return x.nunique()

def count_of_unique_subsector_id(x):
    return x.nunique()

def count_of_unique_state_id(x):
    return x.nunique()

def most_common_merchant_id(x):
    c = Counter(x)
    return c.most_common()[0][0]

In [33]:
aggregate = {
    
    
'purchase_amount' : ['sum','mean','max'],
'month_lag' : ['sum','mean','max'] ,
'enc_category_2_1':['sum'],
'enc_category_2_2': ['sum'],
'enc_category_2_3': ['sum'],
'enc_category_2_4': ['sum'],
'enc_category_2_5': ['sum'],    
'enc_category_3_A': ['sum'],
'enc_category_3_B': ['sum'],
'enc_category_3_C': ['sum'],
'installments_common_replaced': ['sum','mean','max'],
'installments_mean_replaced': ['sum','mean','max'],
'authorized_flag': ['mean', count_authorized_one, count_authorized_zero],
'category_1' :['mean', count_category_1_one, count_category_1_zero],
'enc_purchase_date' : ['mean','min','max',np.ptp],
'merchant_id' : [most_common_merchant_id]

    
}

In [34]:
group_by = new_transaction_data.groupby(['card_id'])

In [35]:
len(new_transaction_data)

1936815

In [36]:
t = group_by.agg(aggregate)

In [44]:
t.head()

,index,new_card_id,new_purchase_amount_sum,new_purchase_amount_mean,new_purchase_amount_max,new_month_lag_sum,new_month_lag_mean,new_month_lag_max,new_enc_category_2_1_sum,new_enc_category_2_2_sum,...,new_authorized_flag_count_authorized_one,new_authorized_flag_count_authorized_zero,new_category_1_mean,new_category_1_count_category_1_one,new_category_1_count_category_1_zero,new_enc_purchase_date_mean,new_enc_purchase_date_min,new_enc_purchase_date_max,new_enc_purchase_date_ptp,new_merchant_id_most_common_merchant_id
0,0,C_ID_00007093c1,-1.328524,-0.664262,-0.656749,4,2.000000,2,1,0,...,2,0,0.00,0,2,1.523023e+09,1.522754e+09,1.523291e+09,537024.0,M_ID_08f01305af
1,1,C_ID_0001238066,-14.149730,-0.565989,-0.078318,34,1.360000,2,22,0,...,25,0,0.08,2,23,1.522353e+09,1.519923e+09,1.525118e+09,5195343.0,M_ID_fb8cc186f8
2,2,C_ID_0001506ef0,-0.732002,-0.732002,-0.732002,1,1.000000,1,0,0,...,1,0,0.00,0,1,1.521710e+09,1.521710e+09,1.521710e+09,0.0,M_ID_ab756f937e
3,3,C_ID_0001793786,-0.229620,-0.007407,3.129932,41,1.322581,2,17,8,...,31,0,0.00,0,31,1.512327e+09,1.510761e+09,1.514742e+09,3981096.0,M_ID_2994f97450
4,4,C_ID_000183fdda,-6.590778,-0.599162,-0.107680,14,1.272727,2,0,0,...,11,0,0.00,0,11,1.521578e+09,1.519994e+09,1.525100e+09,5106807.0,M_ID_3e0d9e7236

In [45]:
t.rename(columns = {'new_card_id':'card_id','new_merchant_id_most_common_merchant_id':'merchant_id'}, inplace=True)
t.head()

,index,card_id,new_purchase_amount_sum,new_purchase_amount_mean,new_purchase_amount_max,new_month_lag_sum,new_month_lag_mean,new_month_lag_max,new_enc_category_2_1_sum,new_enc_category_2_2_sum,...,new_authorized_flag_count_authorized_one,new_authorized_flag_count_authorized_zero,new_category_1_mean,new_category_1_count_category_1_one,new_category_1_count_category_1_zero,new_enc_purchase_date_mean,new_enc_purchase_date_min,new_enc_purchase_date_max,new_enc_purchase_date_ptp,merchant_id
0,0,C_ID_00007093c1,-1.328524,-0.664262,-0.656749,4,2.000000,2,1,0,...,2,0,0.00,0,2,1.523023e+09,1.522754e+09,1.523291e+09,537024.0,M_ID_08f01305af
1,1,C_ID_0001238066,-14.149730,-0.565989,-0.078318,34,1.360000,2,22,0,...,25,0,0.08,2,23,1.522353e+09,1.519923e+09,1.525118e+09,5195343.0,M_ID_fb8cc186f8
2,2,C_ID_0001506ef0,-0.732002,-0.732002,-0.732002,1,1.000000,1,0,0,...,1,0,0.00,0,1,1.521710e+09,1.521710e+09,1.521710e+09,0.0,M_ID_ab756f937e
3,3,C_ID_0001793786,-0.229620,-0.007407,3.129932,41,1.322581,2,17,8,...,31,0,0.00,0,31,1.512327e+09,1.510761e+09,1.514742e+09,3981096.0,M_ID_2994f97450
4,4,C_ID_000183fdda,-6.590778,-0.599162,-0.107680,14,1.272727,2,0,0,...,11,0,0.00,0,11,1.521578e+09,1.519994e+09,1.525100e+09,5106807.0,M_ID_3e0d9e7236

In [47]:
t.drop(columns = ['index'], inplace=True)

In [48]:
t.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
card_id,289057,289057,C_ID_f34f6a0b04,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
new_purchase_amount_sum,289057,NaN,NaN,NaN,-3.68808,4.40859,-70.8135,-5.15486,-2.64875,-1.19193,263.157
new_purchase_amount_mean,289057,NaN,NaN,NaN,-0.52238,0.742053,-0.746893,-0.692812,-0.641722,-0.530604,263.157
new_purchase_amount_max,289057,NaN,NaN,NaN,-0.130799,1.62164,-0.746893,-0.648995,-0.513997,-0.183414,263.157
new_month_lag_sum,289057,NaN,NaN,NaN,9.89109,10.0069,1,3,7,13,185
new_month_lag_mean,289057,NaN,NaN,NaN,1.47628,0.331974,1,1.22222,1.5,1.71429,2
new_month_lag_max,289057,NaN,NaN,NaN,1.81341,0.389582,1,2,2,2,2
new_enc_category_2_1_sum,289057,NaN,NaN,NaN,3.99573,5.53506,0,0,2,5,94
new_enc_category_2_2_sum,289057,NaN,NaN,NaN,0.224447,1.39695,0,0,0,0,68
new_enc_category_2_3_sum,289057,NaN,NaN,NaN,0.985563,2.9971,0,0,0,0,77
new_enc_category_2_4_sum,289057,NaN,NaN,NaN,0.610288,2.54291,0,0,0,0,61
new_enc_category_2_5_sum,289057,NaN,NaN,NaN,0.884428,2.96953,0,0,0,0,99
new_enc_category_3_A_sum,289057,NaN,NaN,NaN,3.33091,5.42022,0,0,1,4,103
new_enc_category_3_B_sum,289057,NaN,NaN,NaN,2.85516,5.25555,0,0,0,4,109
new_enc_category_3_C_sum,289057,NaN,NaN,NaN,0.514386,1.07234,0,0,0,1,18
new_installments_common_replaced_sum,289057,NaN,NaN,NaN,4.60805,8.22145,-6,0,1,6,1004
new_installments_common_replaced_mean,289057,NaN,NaN,NaN,0.753201,1.15788,-1,0,0.428571,1,83.5833
new_installments_common_replaced_max,289057,NaN,NaN,NaN,1.48717,3.55988,-1,0,1,2,999
new_installments_mean_replaced_sum,289057,NaN,NaN,NaN,4.91491,8.1289,0,0,1,7,154.375
new_installments_mean_replaced_mean,289057,NaN,NaN,NaN,0.811055,1.15118,0,0,0.895907,1.12515,12
new_installments_mean_replaced_max,289057,NaN,NaN,NaN,1.49291,2.3972,0,0,1,2,12
new_authorized_flag_mean,289057,NaN,NaN,NaN,1,0,1,1,1,1,1
new_authorized_flag_count_authorized_one,289057,NaN,NaN,NaN,6.70046,6.6365,1,2,5,9,109
new_authorized_flag_count_authorized_zero,289057,NaN,NaN,NaN,0,0,0,0,0,0,0
new_category_1_mean,289057,NaN,NaN,NaN,0.0499882,0.166074,0,0,0,0,1
new_category_1_count_category_1_one,289057,NaN,NaN,NaN,0.217542,0.594591,0,0,0,0,16
new_category_1_count_category_1_zero,289057,NaN,NaN,NaN,6.48292,6.54297,0,2,4,9,109
new_enc_purchase_date_mean,289057,NaN,NaN,NaN,1.5195e+09,6.27912e+06,1.48858e+09,1.51982e+09,1.52193e+09,1.5228e+09,1.52513e+09
new_enc_purchase_date_min,289057,NaN,NaN,NaN,1.51824e+09,6.32044e+06,1.48834e+09,1.51845e+09,1.52027e+09,1.52127e+09,1.52513e+09
new_enc_purchase_date_max,289057,NaN,NaN,NaN,1.52077e+09,6.33788e+06,1.48858e+09,1.52034e+09,1.5233e+09,1.52463e+09,1.52513e+09
new_enc_purchase_date_ptp,289057,NaN,NaN,NaN,2.52727e+06,1.74393e+06,0,703207,2.82796e+06,4.07064e+06,5.35e+06
merchant_id,289057,101568,M_ID_00a6ca8a8a,5554,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
del new_transaction_data

In [50]:
t.to_csv('new_with_merchant_aggregated.csv', index = False)

In [51]:
merchants_data_path = 'C:/TV Series/real_world_use_cases_1/supervised/regression/kaggle/elo/all_new/merchants_2.csv'
merchant_data = panda.read_csv(merchants_data_path)

In [52]:
merchant_data.shape, t.shape, t.card_id.unique().shape

((334696, 34), (289057, 32), (289057,))

In [53]:

# list(lambda x: 'merchant_'+x if not x.startswith('merchant') else x, merchant_data.columns.tolist())
merchant_data.columns = list(map(lambda x: 'merchant_'+x if not x.startswith('merchant') else x, merchant_data.columns.tolist()))

merchant_data.columns.tolist()

['merchant_id',
 'merchant_group_id',
 'merchant_category_id',
 'merchant_subsector_id',
 'merchant_numerical_1',
 'merchant_numerical_2',
 'merchant_category_1',
 'merchant_avg_sales_lag3',
 'merchant_avg_purchases_lag3',
 'merchant_active_months_lag3',
 'merchant_avg_sales_lag6',
 'merchant_avg_purchases_lag6',
 'merchant_active_months_lag6',
 'merchant_avg_sales_lag12',
 'merchant_avg_purchases_lag12',
 'merchant_active_months_lag12',
 'merchant_category_4',
 'merchant_city_id',
 'merchant_state_id',
 'merchant_category_2',
 'merchant_category_1_yes',
 'merchant_category_1_no',
 'merchant_category_4_yes',
 'merchant_category_4_no',
 'merchant_most_sales_range_E',
 'merchant_most_sales_range_D',
 'merchant_most_sales_range_C',
 'merchant_most_sales_range_B',
 'merchant_most_sales_range_A',
 'merchant_most_recent_purchases_range_E',
 'merchant_most_recent_purchases_range_D',
 'merchant_most_recent_purchases_range_C',
 'merchant_most_recent_purchases_range_B',
 'merchant_most_recent_purchases_range_A']

In [54]:
temp= panda.merge(t, merchant_data, on='merchant_id', how='left')
print(temp.shape)
temp.dropna(inplace=True)
print('after dropping emtpy:',temp.shape)

(296078, 65)
after dropping emtpy: (296078, 65)

In [56]:
t.isnull().any()

card_id                                      False
new_purchase_amount_sum                      False
new_purchase_amount_mean                     False
new_purchase_amount_max                      False
new_month_lag_sum                            False
new_month_lag_mean                           False
new_month_lag_max                            False
new_enc_category_2_1_sum                     False
new_enc_category_2_2_sum                     False
new_enc_category_2_3_sum                     False
new_enc_category_2_4_sum                     False
new_enc_category_2_5_sum                     False
new_enc_category_3_A_sum                     False
new_enc_category_3_B_sum                     False
new_enc_category_3_C_sum                     False
new_installments_common_replaced_sum         False
new_installments_common_replaced_mean        False
new_installments_common_replaced_max         False
new_installments_mean_replaced_sum           False
new_installments_mean_replaced_mean          False
new_installments_mean_replaced_max           False
new_authorized_flag_mean                     False
new_authorized_flag_count_authorized_one     False
new_authorized_flag_count_authorized_zero    False
new_category_1_mean                          False
new_category_1_count_category_1_one          False
new_category_1_count_category_1_zero         False
new_enc_purchase_date_mean                   False
new_enc_purchase_date_min                    False
new_enc_purchase_date_max                    False
new_enc_purchase_date_ptp                    False
merchant_id                                  False
dtype: bool

In [57]:
temp.columns.tolist()

['card_id',
 'new_purchase_amount_sum',
 'new_purchase_amount_mean',
 'new_purchase_amount_max',
 'new_month_lag_sum',
 'new_month_lag_mean',
 'new_month_lag_max',
 'new_enc_category_2_1_sum',
 'new_enc_category_2_2_sum',
 'new_enc_category_2_3_sum',
 'new_enc_category_2_4_sum',
 'new_enc_category_2_5_sum',
 'new_enc_category_3_A_sum',
 'new_enc_category_3_B_sum',
 'new_enc_category_3_C_sum',
 'new_installments_common_replaced_sum',
 'new_installments_common_replaced_mean',
 'new_installments_common_replaced_max',
 'new_installments_mean_replaced_sum',
 'new_installments_mean_replaced_mean',
 'new_installments_mean_replaced_max',
 'new_authorized_flag_mean',
 'new_authorized_flag_count_authorized_one',
 'new_authorized_flag_count_authorized_zero',
 'new_category_1_mean',
 'new_category_1_count_category_1_one',
 'new_category_1_count_category_1_zero',
 'new_enc_purchase_date_mean',
 'new_enc_purchase_date_min',
 'new_enc_purchase_date_max',
 'new_enc_purchase_date_ptp',
 'merchant_id',
 'merchant_group_id',
 'merchant_category_id',
 'merchant_subsector_id',
 'merchant_numerical_1',
 'merchant_numerical_2',
 'merchant_category_1',
 'merchant_avg_sales_lag3',
 'merchant_avg_purchases_lag3',
 'merchant_active_months_lag3',
 'merchant_avg_sales_lag6',
 'merchant_avg_purchases_lag6',
 'merchant_active_months_lag6',
 'merchant_avg_sales_lag12',
 'merchant_avg_purchases_lag12',
 'merchant_active_months_lag12',
 'merchant_category_4',
 'merchant_city_id',
 'merchant_state_id',
 'merchant_category_2',
 'merchant_category_1_yes',
 'merchant_category_1_no',
 'merchant_category_4_yes',
 'merchant_category_4_no',
 'merchant_most_sales_range_E',
 'merchant_most_sales_range_D',
 'merchant_most_sales_range_C',
 'merchant_most_sales_range_B',
 'merchant_most_sales_range_A',
 'merchant_most_recent_purchases_range_E',
 'merchant_most_recent_purchases_range_D',
 'merchant_most_recent_purchases_range_C',
 'merchant_most_recent_purchases_range_B',
 'merchant_most_recent_purchases_range_A']

In [58]:
temp.columns = list(map(lambda x: x if (x.startswith('new') or x=='card_id') else 'new_'+x, temp.columns.tolist()))

In [59]:
temp.columns.tolist()

['card_id',
 'new_purchase_amount_sum',
 'new_purchase_amount_mean',
 'new_purchase_amount_max',
 'new_month_lag_sum',
 'new_month_lag_mean',
 'new_month_lag_max',
 'new_enc_category_2_1_sum',
 'new_enc_category_2_2_sum',
 'new_enc_category_2_3_sum',
 'new_enc_category_2_4_sum',
 'new_enc_category_2_5_sum',
 'new_enc_category_3_A_sum',
 'new_enc_category_3_B_sum',
 'new_enc_category_3_C_sum',
 'new_installments_common_replaced_sum',
 'new_installments_common_replaced_mean',
 'new_installments_common_replaced_max',
 'new_installments_mean_replaced_sum',
 'new_installments_mean_replaced_mean',
 'new_installments_mean_replaced_max',
 'new_authorized_flag_mean',
 'new_authorized_flag_count_authorized_one',
 'new_authorized_flag_count_authorized_zero',
 'new_category_1_mean',
 'new_category_1_count_category_1_one',
 'new_category_1_count_category_1_zero',
 'new_enc_purchase_date_mean',
 'new_enc_purchase_date_min',
 'new_enc_purchase_date_max',
 'new_enc_purchase_date_ptp',
 'new_merchant_id',
 'new_merchant_group_id',
 'new_merchant_category_id',
 'new_merchant_subsector_id',
 'new_merchant_numerical_1',
 'new_merchant_numerical_2',
 'new_merchant_category_1',
 'new_merchant_avg_sales_lag3',
 'new_merchant_avg_purchases_lag3',
 'new_merchant_active_months_lag3',
 'new_merchant_avg_sales_lag6',
 'new_merchant_avg_purchases_lag6',
 'new_merchant_active_months_lag6',
 'new_merchant_avg_sales_lag12',
 'new_merchant_avg_purchases_lag12',
 'new_merchant_active_months_lag12',
 'new_merchant_category_4',
 'new_merchant_city_id',
 'new_merchant_state_id',
 'new_merchant_category_2',
 'new_merchant_category_1_yes',
 'new_merchant_category_1_no',
 'new_merchant_category_4_yes',
 'new_merchant_category_4_no',
 'new_merchant_most_sales_range_E',
 'new_merchant_most_sales_range_D',
 'new_merchant_most_sales_range_C',
 'new_merchant_most_sales_range_B',
 'new_merchant_most_sales_range_A',
 'new_merchant_most_recent_purchases_range_E',
 'new_merchant_most_recent_purchases_range_D',
 'new_merchant_most_recent_purchases_range_C',
 'new_merchant_most_recent_purchases_range_B',
 'new_merchant_most_recent_purchases_range_A']

In [60]:
temp.to_csv('new_joined_with_merchants_data.csv',index = False)