# RE RE FEATURE ENGINEERING OF DATA

In [24]:
import numpy as np
import pandas as panda
from dateutil import relativedelta
import datetime

In [25]:
train_data_path = 'all_new/train_6.csv'
test_data_path = 'all_new/test_6.csv'
new_treated_transaction_path = 'all_new/agg_old_1.csv'
# treated_historical_transaction_path = 'all_new/treated_historical_transactions_1.csv'

In [26]:
train_data = panda.read_csv(train_data_path)
train_data_types = train_data.dtypes
train_data_columns ={}
for index, name in enumerate(train_data.columns.tolist()):
    train_data_columns[name] = train_data_types[index]
train_data_columns

{'card_id': dtype('O'),
 'new_purchase_amount_sum': dtype('float64'),
 'new_purchase_amount_mean': dtype('float64'),
 'new_purchase_amount_max': dtype('float64'),
 'new_month_lag_sum': dtype('float64'),
 'new_month_lag_mean': dtype('float64'),
 'new_month_lag_max': dtype('float64'),
 'new_enc_category_2_1_sum': dtype('float64'),
 'new_enc_category_2_2_sum': dtype('float64'),
 'new_enc_category_2_3_sum': dtype('float64'),
 'new_enc_category_2_4_sum': dtype('float64'),
 'new_enc_category_2_5_sum': dtype('float64'),
 'new_enc_category_3_A_sum': dtype('float64'),
 'new_enc_category_3_B_sum': dtype('float64'),
 'new_enc_category_3_C_sum': dtype('float64'),
 'new_installments_sum': dtype('float64'),
 'new_installments_mean': dtype('float64'),
 'new_installments_max': dtype('float64'),
 'new_authorized_flag_mean': dtype('float64'),
 'new_authorized_flag_count_authorized_one': dtype('float64'),
 'new_authorized_flag_count_authorized_zero': dtype('float64'),
 'new_category_1_mean': dtype('float64'),
 'new_category_1_count_category_1_one': dtype('float64'),
 'new_category_1_count_category_1_zero': dtype('float64'),
 'new_enc_purchase_date_mean': dtype('float64'),
 'new_enc_purchase_date_min': dtype('float64'),
 'new_enc_purchase_date_max': dtype('float64'),
 'new_enc_purchase_date_ptp': dtype('float64'),
 'new_city_id_count_of_unique_cities': dtype('float64'),
 'new_state_id_count_of_unique_state_id': dtype('float64'),
 'new_subsector_id_count_of_unique_subsector_id': dtype('float64'),
 'target': dtype('float64'),
 'enc_feature_1_1': dtype('int64'),
 'enc_feature_1_2': dtype('int64'),
 'enc_feature_1_3': dtype('int64'),
 'enc_feature_1_4': dtype('int64'),
 'enc_feature_1_5': dtype('int64'),
 'months_passed': dtype('int64'),
 'first_active_day': dtype('int64')}

In [27]:
del train_data

In [28]:

## simply passed the columns to reduce memory footprint
train_data = panda.read_csv(train_data_path, dtype = train_data_columns)

In [29]:
train_data.head()

,card_id,new_purchase_amount_sum,new_purchase_amount_mean,new_purchase_amount_max,new_month_lag_sum,new_month_lag_mean,new_month_lag_max,new_enc_category_2_1_sum,new_enc_category_2_2_sum,new_enc_category_2_3_sum,...,new_state_id_count_of_unique_state_id,new_subsector_id_count_of_unique_subsector_id,target,enc_feature_1_1,enc_feature_1_2,enc_feature_1_3,enc_feature_1_4,enc_feature_1_5,months_passed,first_active_day
0,C_ID_00007093c1,-1.328524,-0.664262,-0.656749,4.0,2.000000,2.0,1.0,0.0,1.0,...,2.0,2.0,0.134077,0,0,0,0,1,23,1485907200000000000
1,C_ID_0001506ef0,-1.447354,-0.723677,-0.715352,2.0,1.000000,1.0,0.0,0.0,2.0,...,1.0,2.0,0.884295,0,1,0,0,0,30,1467331200000000000
2,C_ID_000183fdda,-6.590778,-0.599162,-0.107680,14.0,1.272727,2.0,0.0,0.0,11.0,...,2.0,6.0,-0.264433,0,0,0,1,0,16,1504224000000000000
3,C_ID_0002c7c2c1,-3.929448,-0.654908,-0.497768,9.0,1.500000,2.0,6.0,0.0,0.0,...,1.0,4.0,1.288514,0,0,1,0,0,21,1491004800000000000
4,C_ID_0003be3c83,-3.441312,-0.573552,-0.167936,10.0,1.666667,2.0,6.0,0.0,0.0,...,1.0,5.0,-0.083268,0,1,0,0,0,17,1501545600000000000

In [30]:
agg = panda.read_csv(new_treated_transaction_path)
d_type = agg.dtypes
d_cols = {}
for index, name in enumerate(agg.columns.tolist()):
    d_cols[name] = d_type[index]

del agg

agg = panda.read_csv(new_treated_transaction_path, dtype = d_cols)
agg.head()

,card_id,old_purchase_amount_sum,old_purchase_amount_mean,old_purchase_amount_max,old_month_lag_sum,old_month_lag_mean,old_month_lag_max,old_enc_category_2_1_sum,old_enc_category_2_2_sum,old_enc_category_2_3_sum,...,old_category_1_mean,old_category_1_count_category_1_one,old_category_1_count_category_1_zero,old_enc_purchase_date_mean,old_enc_purchase_date_min,old_enc_purchase_date_max,old_enc_purchase_date_ptp,old_city_id_count_of_unique_cities,old_state_id_count_of_unique_state_id,old_subsector_id_count_of_unique_subsector_id
0,C_ID_00007093c1,-76.845041,-0.515739,1.507069,-872,-5.852349,0,28,0,120,...,0.187919,28,121,1.503054e+09,1.487081e+09,1.519708e+09,32627654.0,4,3,13
1,C_ID_0001238066,-72.447201,-0.589002,0.768095,-223,-1.813008,0,103,0,0,...,0.016260,2,121,1.513977e+09,1.506638e+09,1.519748e+09,13110825.0,17,5,17
2,C_ID_0001506ef0,-34.601879,-0.524271,1.493545,-319,-4.833333,0,2,0,64,...,0.000000,0,66,1.505646e+09,1.484411e+09,1.518871e+09,34460275.0,3,2,12
3,C_ID_0001793786,-36.786013,-0.170306,4.554145,-719,-3.328704,0,125,76,15,...,0.009259,2,214,1.499412e+09,1.484994e+09,1.509481e+09,24487497.0,9,3,24
4,C_ID_000183fdda,-68.837938,-0.478041,2.764788,-353,-2.451389,0,11,1,131,...,0.027778,4,140,1.512119e+09,1.502099e+09,1.519592e+09,17492874.0,8,6,21

In [31]:
len(train_data),len(agg), len(set(agg.card_id.values.tolist()).intersection(set(train_data.card_id.values.tolist())))

(201917, 325540, 201917)

In [32]:
tt = agg.merge(train_data, on='card_id', how='right')

In [33]:
len(tt)

201917

In [13]:
# tt.dropna(inplace=True)

In [34]:
len(tt)

201917

In [35]:
tt.tail()

,card_id,old_purchase_amount_sum,old_purchase_amount_mean,old_purchase_amount_max,old_month_lag_sum,old_month_lag_mean,old_month_lag_max,old_enc_category_2_1_sum,old_enc_category_2_2_sum,old_enc_category_2_3_sum,...,new_state_id_count_of_unique_state_id,new_subsector_id_count_of_unique_subsector_id,target,enc_feature_1_1,enc_feature_1_2,enc_feature_1_3,enc_feature_1_4,enc_feature_1_5,months_passed,first_active_day
201912,C_ID_fffeced303,-128.225838,-0.682052,-0.145847,-857,-4.558511,0,188,0,0,...,1.0,2.0,0.362965,0,1,0,0,0,21,1491004800000000000
201913,C_ID_fffeed3a89,-83.988674,-0.499933,3.758641,-161,-0.958333,0,81,2,1,...,4.0,14.0,-0.085357,0,0,0,1,0,14,1509494400000000000
201914,C_ID_ffff579d3a,-80.292768,-0.704323,-0.491457,-426,-3.736842,0,113,0,0,...,1.0,1.0,1.530061,0,1,0,0,0,17,1501545600000000000
201915,C_ID_ffff828181,-120.099200,-0.632101,0.109528,-1155,-6.078947,0,29,153,0,...,3.0,6.0,-0.600063,0,1,0,0,0,48,1420070400000000000
201916,C_ID_fffffd5772,-58.035274,-0.690896,-0.311139,-163,-1.940476,0,43,0,41,...,1.0,3.0,-1.073077,0,1,0,0,0,17,1501545600000000000

In [36]:
tt.to_csv('all_new/train_6_1.csv', index=False)

In [37]:
test_data = panda.read_csv(test_data_path)
test_data_types = test_data.dtypes
test_data_columns ={}
for index, name in enumerate(test_data.columns.tolist()):
    test_data_columns[name] = test_data_types[index]
test_data_columns

{'card_id': dtype('O'),
 'new_purchase_amount_sum': dtype('float64'),
 'new_purchase_amount_mean': dtype('float64'),
 'new_purchase_amount_max': dtype('float64'),
 'new_month_lag_sum': dtype('float64'),
 'new_month_lag_mean': dtype('float64'),
 'new_month_lag_max': dtype('float64'),
 'new_enc_category_2_1_sum': dtype('float64'),
 'new_enc_category_2_2_sum': dtype('float64'),
 'new_enc_category_2_3_sum': dtype('float64'),
 'new_enc_category_2_4_sum': dtype('float64'),
 'new_enc_category_2_5_sum': dtype('float64'),
 'new_enc_category_3_A_sum': dtype('float64'),
 'new_enc_category_3_B_sum': dtype('float64'),
 'new_enc_category_3_C_sum': dtype('float64'),
 'new_installments_sum': dtype('float64'),
 'new_installments_mean': dtype('float64'),
 'new_installments_max': dtype('float64'),
 'new_authorized_flag_mean': dtype('float64'),
 'new_authorized_flag_count_authorized_one': dtype('float64'),
 'new_authorized_flag_count_authorized_zero': dtype('float64'),
 'new_category_1_mean': dtype('float64'),
 'new_category_1_count_category_1_one': dtype('float64'),
 'new_category_1_count_category_1_zero': dtype('float64'),
 'new_enc_purchase_date_mean': dtype('float64'),
 'new_enc_purchase_date_min': dtype('float64'),
 'new_enc_purchase_date_max': dtype('float64'),
 'new_enc_purchase_date_ptp': dtype('float64'),
 'new_city_id_count_of_unique_cities': dtype('float64'),
 'new_state_id_count_of_unique_state_id': dtype('float64'),
 'new_subsector_id_count_of_unique_subsector_id': dtype('float64'),
 'enc_feature_1_1': dtype('int64'),
 'enc_feature_1_2': dtype('int64'),
 'enc_feature_1_3': dtype('int64'),
 'enc_feature_1_4': dtype('int64'),
 'enc_feature_1_5': dtype('int64'),
 'months_passed': dtype('int64'),
 'first_active_day': dtype('int64')}

In [38]:
del test_data

In [39]:

## simply passed the columns to reduce memory footprint
test_data = panda.read_csv(test_data_path, dtype = test_data_columns)

In [40]:
test_data.head()

,card_id,new_purchase_amount_sum,new_purchase_amount_mean,new_purchase_amount_max,new_month_lag_sum,new_month_lag_mean,new_month_lag_max,new_enc_category_2_1_sum,new_enc_category_2_2_sum,new_enc_category_2_3_sum,...,new_city_id_count_of_unique_cities,new_state_id_count_of_unique_state_id,new_subsector_id_count_of_unique_subsector_id,enc_feature_1_1,enc_feature_1_2,enc_feature_1_3,enc_feature_1_4,enc_feature_1_5,months_passed,first_active_day
0,C_ID_0001238066,-14.850055,-0.571156,-0.078318,35.0,1.346154,2.0,23.0,0.0,0.0,...,7.0,3.0,9.0,0,0,0,1,0,16,1504224000000000000
1,C_ID_0001793786,-0.229620,-0.007407,3.129932,41.0,1.322581,2.0,17.0,8.0,5.0,...,7.0,4.0,14.0,0,0,0,0,1,24,1483228800000000000
2,C_ID_0002709b5a,-2.018827,-0.672942,-0.611669,4.0,1.333333,2.0,1.0,1.0,0.0,...,3.0,3.0,3.0,0,0,0,0,1,41,1438387200000000000
3,C_ID_000298032a,-0.641872,-0.641872,-0.641872,2.0,2.000000,2.0,1.0,0.0,0.0,...,1.0,1.0,1.0,0,1,0,0,0,25,1480550400000000000
4,C_ID_0002ba3c2e,-2.071059,-0.690353,-0.667883,4.0,1.333333,2.0,0.0,3.0,0.0,...,1.0,1.0,2.0,0,0,0,0,1,31,1464739200000000000

In [41]:
len(test_data),len(agg), len(set(agg.card_id.values.tolist()).intersection(set(test_data.card_id.values.tolist())))

(123623, 325540, 123623)

In [42]:
tt = agg.merge(test_data, on='card_id', how='right')

In [43]:
len(tt)

123623

In [25]:
# tt.dropna(inplace=True)

In [44]:
len(set(tt.card_id.values))

123623

In [45]:
tt.to_csv('all_new/test_6_1.csv', index=False)