In [2]:
import pandas as panda

import numpy as np

import datetime, time


from matplotlib.pyplot import plot

In [2]:
train_data_path = 'all/my_training_data_can_be_used_as_is.csv'
test_data_path = 'all/my_test_data_categorized_can_be_used_as_is.csv'

train_data = panda.read_csv(train_data_path)
test_data = panda.read_csv(test_data_path)
train_data['max_cat_1'] = train_data.max_cat_1.apply(lambda x: 1 if x=='N' else 0)

In [3]:
all_merged_data_path = 'all/yes_no_merged.csv'
all_merged_data = panda.read_csv(all_merged_data_path)

In [4]:
all_merged_data.head(25)

,Unnamed: 0,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,...,purchase_date,category_2,state_id,subsector_id,total_no_of_transaction,N_x,Y,N_y,total_rejects,total_accepted
0,0,Y,C_ID_415BB3A509,107,N,1,B,307,M_ID_b0c793002c,1,...,2018-03-11 14:57:36,1.0,9,19,9,0,1,1,1,8
1,1,Y,C_ID_415BB3A509,140,N,1,B,307,M_ID_88920c89e8,1,...,2018-03-19 18:53:37,1.0,9,19,9,0,1,1,1,8
2,2,Y,C_ID_415BB3A509,330,N,1,B,507,M_ID_ad5237ef6b,2,...,2018-04-26 14:08:44,1.0,9,14,9,0,1,1,1,8
3,3,Y,C_ID_415BB3A509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,...,2018-03-07 09:43:21,1.0,-1,8,9,0,1,1,1,8
4,4,Y,C_ID_415BB3A509,-1,Y,1,B,755,M_ID_57df19bf28,0,...,2018-02-22 13:30:44,1.0,-1,8,9,0,1,1,1,8
5,5,Y,C_ID_415BB3A509,-1,Y,5,C,690,M_ID_c9855bf3e3,-2,...,2017-12-04 21:08:12,1.0,-1,1,9,0,1,1,1,8
6,6,N,C_ID_415BB3A509,-1,Y,1,B,755,M_ID_57df19bf28,0,...,2018-02-22 13:29:58,1.0,-1,8,9,1,0,1,1,8
7,7,Y,C_ID_415BB3A509,19,N,1,B,307,M_ID_094b8b5ebc,-1,...,2018-01-20 10:51:54,1.0,9,19,9,0,1,1,1,8
8,8,Y,C_ID_415BB3A509,-1,Y,3,C,690,M_ID_c9855bf3e3,-1,...,2018-01-17 22:19:00,1.0,-1,1,9,0,1,1,1,8
9,9,Y,C_ID_EF55CF8D4B,-1,Y,1,B,166,M_ID_3c86fa3831,1,...,2018-03-22 21:07:53,1.0,-1,29,208,0,1,17,17,191
10,10,Y,C_ID_EF55CF8D4B,231,N,1,B,367,M_ID_8874615e00,2,...,2018-04-02 12:53:28,1.0,9,16,208,0,1,17,17,191
11,11,Y,C_ID_EF55CF8D4B,69,N,1,B,333,M_ID_6d061b5ddc,1,...,2018-03-28 19:50:19,1.0,9,10,208,0,1,17,17,191
12,12,Y,C_ID_EF55CF8D4B,231,N,1,B,307,M_ID_df1e022f41,2,...,2018-04-05 08:06:52,1.0,9,19,208,0,1,17,17,191
13,13,Y,C_ID_EF55CF8D4B,69,N,1,B,278,M_ID_d15eae0468,2,...,2018-04-07 18:37:40,1.0,9,37,208,0,1,17,17,191
14,14,Y,C_ID_EF55CF8D4B,69,N,1,B,437,M_ID_5f9bffd028,1,...,2018-03-17 18:10:41,1.0,9,15,208,0,1,17,17,191
15,15,Y,C_ID_EF55CF8D4B,69,N,-1,A,45,M_ID_3ffd43b4cd,1,...,2018-03-31 09:55:40,1.0,9,18,208,0,1,17,17,191
16,16,Y,C_ID_EF55CF8D4B,69,N,1,B,108,M_ID_e6f5213fbf,1,...,2018-03-11 12:53:41,1.0,9,34,208,0,1,17,17,191
17,17,Y,C_ID_EF55CF8D4B,69,N,1,B,278,M_ID_aa97bc87f6,1,...,2018-03-14 14:07:43,1.0,9,37,208,0,1,17,17,191
18,18,Y,C_ID_EF55CF8D4B,69,N,1,B,157,M_ID_28fbc8c74d,2,...,2018-04-14 09:27:45,1.0,9,29,208,0,1,17,17,191
19,19,Y,C_ID_EF55CF8D4B,-1,Y,1,B,302,M_ID_b9f9332438,1,...,2018-03-23 21:35:53,1.0,-1,22,208,0,1,17,17,191
20,20,Y,C_ID_EF55CF8D4B,231,N,1,B,80,M_ID_ad15049b64,2,...,2018-04-18 12:41:48,1.0,9,37,208,0,1,17,17,191
21,21,Y,C_ID_EF55CF8D4B,69,N,1,B,307,M_ID_51757498fd,1,...,2018-03-11 12:38:56,1.0,9,19,208,0,1,17,17,191
22,22,Y,C_ID_EF55CF8D4B,69,N,1,B,560,M_ID_a1183a4e5e,2,...,2018-04-22 15:00:27,1.0,9,34,208,0,1,17,17,191
23,23,Y,C_ID_EF55CF8D4B,231,N,3,C,333,M_ID_f74d9cbbd0,1,...,2018-03-01 14:26:52,1.0,9,10,208,0,1,17,17,191
24,24,Y,C_ID_EF55CF8D4B,231,N,1,B,369,M_ID_f0bf60c061,1,...,2018-03-22 09:57:23,1.0,9,27,208,0,1,17,17,191

In [5]:
len(all_merged_data)

31075392

In [6]:
## add the mean of months lag to test data and train data

mean_months_lag = all_merged_data.groupby(['card_id'])['month_lag'].mean()

In [7]:
mean_months_lag = mean_months_lag.reset_index()
mean_months_lag.rename({'month_lag':'mean_month_lag'}, axis='columns', inplace = True)
mean_months_lag.head()

           card_id  mean_month_lag
0  C_ID_00007093C1       -5.748344
1  C_ID_0001238066       -1.261745
2  C_ID_0001506EF0       -4.661765
3  C_ID_0001793786       -2.744939
4  C_ID_000183FDDA       -2.187097

In [8]:
## add most appearing merchant category _id

# most_appearing_merchant_cat_id = all_merged_data.groupby(['card_id','merchant_category_id']).count().sort_values('merchant_category_id')

# most_appearing_merchant_cat_id = most_appearing_merchant_cat_id.reset_index()
# # most_appearing_merchant_cat_id.drop_duplicates(subset = ['card_id'],keep='last', inplace = True)
# # most_appearing_merchant_cat_id.rename({'merchant_category_id':'most_mc_id'}, axis='columns', inplace = True)
# most_appearing_merchant_cat_id.head()

In [9]:
most_appearing_merchant_cat_id = all_merged_data.groupby(['card_id','merchant_category_id']).count().reset_index().\
                sort_values('city_id').drop_duplicates(subset=['card_id'], keep='last')
# .reset_index(name='merchant_category_id').sort_values('merchant_category_id')

In [10]:
# all_merged_data[all_merged_data['card_id']=='C_ID_415BB3A509'][['card_id', 'merchant_category_id']]

# most_appearing_merchant_cat_id = most_appearing_merchant_cat_id[['card_id', 'merchant_category_id']]
most_appearing_merchant_cat_id.rename({'merchant_category_id':'most_appearing_mc_id'}, inplace=True, axis='columns')
most_appearing_merchant_cat_id.head()

,card_id,most_appearing_mc_id,Unnamed: 0,authorized_flag,city_id,category_1,installments,category_3,merchant_id,month_lag,...,purchase_date,category_2,state_id,subsector_id,total_no_of_transaction,N_x,Y,N_y,total_rejects,total_accepted
3699848,C_ID_8C80D70DAF,705,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3707226,C_ID_8CCB3192A3,884,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3685497,C_ID_8BFC53A7A2,373,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3735855,C_ID_8DE3DC39B3,879,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3739776,C_ID_8E0E1E3252,834,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [11]:
# mean_months_added = panda.concat([all_merged_data, mean_months_lag], axis =1)
# mean_months_added.dropna(subset=['card_id'], inplace=True)

mean_months_added = all_merged_data.merge(mean_months_lag, how ='inner', on='card_id')

mean_months_added.head()

,Unnamed: 0,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,...,category_2,state_id,subsector_id,total_no_of_transaction,N_x,Y,N_y,total_rejects,total_accepted,mean_month_lag
0,0,Y,C_ID_415BB3A509,107,N,1,B,307,M_ID_b0c793002c,1,...,1.0,9,19,9,0,1,1,1,8,0.111111
1,1,Y,C_ID_415BB3A509,140,N,1,B,307,M_ID_88920c89e8,1,...,1.0,9,19,9,0,1,1,1,8,0.111111
2,2,Y,C_ID_415BB3A509,330,N,1,B,507,M_ID_ad5237ef6b,2,...,1.0,9,14,9,0,1,1,1,8,0.111111
3,3,Y,C_ID_415BB3A509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,...,1.0,-1,8,9,0,1,1,1,8,0.111111
4,4,Y,C_ID_415BB3A509,-1,Y,1,B,755,M_ID_57df19bf28,0,...,1.0,-1,8,9,0,1,1,1,8,0.111111

In [12]:
print(len(mean_months_added),len(most_appearing_merchant_cat_id), len(all_merged_data))

31075392 325540 31075392

In [14]:
# merchant_cat_id_added = panda.concat([mean_months_added, most_appearing_merchant_cat_id], axis = 1)

# # merchant_cat_id_added = mean_months_added.merge(most_appearing_merchant_cat_id, how= 'left', on ='card_id')
# merchant_cat_id_added.dropna(subset=['card_id'], inplace=True)
# len(merchant_cat_id_added)
# merchant_cat_id_added.head()

mean_months_added.to_csv('all/mean_months_added.csv')
most_appearing_merchant_cat_id.to_csv('all/most_appearing_merchant_cat_id.csv')

In [ ]:
# m=merchant_cat_id_added.dropna(subset=['card_id'])
# len(m)

# merchant_cat_id_added.tail(10)

In [ ]:
len(merchant_cat_id_added)

In [3]:
mean_months_added = panda.read_csv('all/mean_months_added.csv')

most_appearing_merchant_cat_id = panda.read_csv('all/most_appearing_merchant_cat_id.csv')

In [4]:
# merchant_cat_id_added = mean_months_added.merge(most_appearing_merchant_cat_id, how= 'inner', on ='card_id')

print(len(most_appearing_merchant_cat_id), len(most_appearing_merchant_cat_id.columns.tolist()))

325540 22

In [5]:
m = panda.concat([mean_months_added, most_appearing_merchant_cat_id], axis = 1)

print(len(m), len(m.columns.tolist()))

31075392 45

In [11]:

# import gc

# gc.collect()

del mean_months_added
del most_appearing_merchant_cat_id

import gc
gc.collect()

490

In [12]:
m.dropna(subset=['card_id'], inplace = True)

print(len(m), len(m.columns.tolist()))

325540 45

In [ ]:
len(merchant_cat_id_added.columns.tolist())

In [13]:
m.to_csv('all/merchant_cat_id_added.csv')

In [20]:
tt = m[['card_id','most_appearing_mc_id','mean_month_lag']]

# tt.drop(0, axis = 1 , inplace = True)

tt.columns = ['card_id1','card_id','most_appearing_mc_id','mean_month_lag' ]
tt.drop('card_id1', axis=1, inplace = True)

tt.head()

C:\Users\somak\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

           card_id  most_appearing_mc_id  mean_month_lag
0  C_ID_8C80D70DAF                 705.0        0.111111
1  C_ID_8CCB3192A3                 884.0        0.111111
2  C_ID_8BFC53A7A2                 373.0        0.111111
3  C_ID_8DE3DC39B3                 879.0        0.111111
4  C_ID_8E0E1E3252                 834.0        0.111111

In [2]:
merchant_cat_id_added = panda.read_csv('all/merchant_cat_id_added.csv')

print(len(merchant_cat_id_added), len(merchant_cat_id_added.columns.tolist()))

MemoryError: